<!-- panel sections -->
<div class="row">
  <div class="col-sm-6">
      <section class="panel">
          <header class="panel-heading">
              Default Buttons
          </header>
          <div class="panel-body">
              
          </div>
      </section>
  </div>
</div>
  <!-- button -->
<?php echo $this->Html->link(__('View'), array('action' => 'view', $father['Father']['id']), array('class'=>'btn btn-info btn-rounded')); ?>
        <?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $father['Father']['id']), array('class'=>'btn btn-primary btn-rounded')); ?>
        <?php //echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $father['Father']['id']), array('class'=> 'btn btn-danger'), __('Are you sure you want to delete # %s?', $father['Father']['id'])); ?>
      </td>
<!-- submit button -->
    <?php echo $this->Form->submit(__('Submit',true), array('class'=>'btn btn-primary')); 
    echo $this->Form->end(); ?>

<!-- table -->
<table class="table table-striped">


<!-- images -->
<?php echo $this->Html->link($this->Html->image($design['image'], array('fullBase' => true, 'width'=>'185', 'heigth'=>'185')), array('controller' => 'designs', 'action' => 'view', $design['id']), array('escape' => false)); ?>