/* Just some base styles not needed for example to function */
p
{
	font-size: 1em;
	margin: 0 0 1em 0;
}

html { font-size: 100%; /* IE hack */ }
body { font-size: 1em; /* Sets base font size to 16px */ }
table { font-size: 100%; /* IE hack */ }
input, select, textarea, th, td { font-size: 1em; }
	
/* CSS Tree menu styles */
ol.tree
{
	padding: 0 0 0 30px;
	width: 500px;
}
	#content ol li 
	{ 
		position: relative; 
		margin-left: -15px;
		list-style: none;
                color: #57A000;
	}
	#content ol li.file
	{
		margin-left: -1px !important;
	}
		li.file a
		{
			background: url(../img/tree/document.png) 0 0 no-repeat;
			color: #fff;
			padding-left: 21px;
			text-decoration: none;
			display: block;
                        color: #57A000;
		}
		li.file a[href *= '.pdf']	{ background: url(../img/tree/document.png) 0 0 no-repeat; }
		li.file a[href *= '.html']	{ background: url(../img/tree/document.png) 0 0 no-repeat; }
		li.file a[href $= '.css']	{ background: url(../img/tree/document.png) 0 0 no-repeat; }
		li.file a[href $= '.js']		{ background: url(../img/tree/document.png) 0 0 no-repeat; }
	#content ol li input
	{
		position: absolute;
		left: 0;
		margin-left: 0;
		opacity: 0;
		z-index: 2;
		cursor: pointer;
		height: 20px;
		width: 100px;
		top: 0;
	}
        
        #content ol li input + ol
	{
			background: url(../img/tree/toggle-small-expand.png) 40px 0 no-repeat;
			margin: -0.938em 0 0 -44px; /* 15px */
			height: 1em;
	}
       
       #content ol li input + ol > li { display: none; margin-left: -14px !important; padding-left: 1px; }
	        
       #content ol li label
	{
		background: url(../img/icons/16/folder.png) 15px 5px no-repeat;
		cursor: pointer;
		display: block;
		padding-left: 37px;
	}

	#content ol li input:checked + ol
	{
		background: url(../img/tree/toggle-small.png) 40px 5px no-repeat;
		margin: -1.25em 0 0 -44px; /* 20px */
		padding: 1.563em 0 0 80px;
		height: auto;
	}
        
        
		#content ol li input:checked + ol > li { display: block; margin: 0 0 0.125em;  /* 2px */}
		#content ol li input:checked + ol > li:last-child { margin: 0 0 0.063em; /* 1px */ }
                