<div class="prizes index">
	<h2><?php echo __('Prizes'); ?></h2>
	<table cellpadding="0" cellspacing="0">
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('challenge_id'); ?></th>
			<th><?php echo $this->Paginator->sort('name'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('created_by'); ?></th>
			<th><?php echo $this->Paginator->sort('modified'); ?></th>
			<th><?php echo $this->Paginator->sort('modified_by'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	<?php foreach ($prizes as $prize): ?>
	<tr>
		<td><?php echo h($prize['Prize']['id']); ?>&nbsp;</td>
		<td>
			<?php echo $this->Html->link($prize['Challenge']['name'], array('controller' => 'challenges', 'action' => 'view', $prize['Challenge']['id'])); ?>
		</td>
		<td><?php echo h($prize['Prize']['name']); ?>&nbsp;</td>
		<td><?php echo h($prize['Prize']['created']); ?>&nbsp;</td>
		<td><?php echo h($prize['Prize']['created_by']); ?>&nbsp;</td>
		<td><?php echo h($prize['Prize']['modified']); ?>&nbsp;</td>
		<td><?php echo h($prize['Prize']['modified_by']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $prize['Prize']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $prize['Prize']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $prize['Prize']['id']), null, __('Are you sure you want to delete # %s?', $prize['Prize']['id'])); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
	'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Prize'), array('action' => 'add')); ?></li>
		<li><?php echo $this->Html->link(__('List Challenges'), array('controller' => 'challenges', 'action' => 'index')); ?> </li>
		<li><?php echo $this->Html->link(__('New Challenge'), array('controller' => 'challenges', 'action' => 'add')); ?> </li>
	</ul>
</div>
